.slider {
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
}

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
}

.control-btn .prev {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

