.navbar {
  background: #222222;
  position: sticky;
  top: 0;
  z-index: 11;
  height: 10vh;
  line-height: 10vh;
}
nav ul li {
  display: inline-block;
  transition: all 0.5s ease-in;
  margin: 0 30px 0 0;
}
nav ul li a {
  color: white;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
nav ul li a:hover {
color: #31b675;
}
.nav-links-mobile {
  display: none;
}
.menu-icon{
  display: none;
}
nav i {
  color: #fff
}

.login-area {
  font-weight: 300;
  opacity: 0.8;
  font-size: 13px;
  color: #fff;
}
.login-area i {
  margin: 0 5px 0 15px;
  font-size: 13px;
  color: #fff;
}
.login-area button {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .login-area  {
    position: absolute;
    right: 20px;
  }
  .navbar {
    text-align: center;
  }
  .navbar{
    text-align: center;
  }
  nav ul {
  display: block;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5 ease;
  }
  nav ul li{
  display: block;
  }
  nav ul.active{
    background-color: #31b675;
    left: 0;
    opacity: 1;
    transition: 0.5s;
  }
  nav ul li a {
    font-weight: 400;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times{
    font-size: 2rem;
  }
}
