header img{
  width: 60%;
  margin-left: 2vw;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  height: 18vh;
}

header .logo{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

header .contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .box {
  display: flex;
  margin-left: 15px;
}

header a {
  font-size: 13px;
  color: grey;
}

header i {
  font-size: 200%;
  color: #31b675;
  margin-right: 10px;
}

header .text {
  margin-top: 10px;
}

header h4 {
  line-height: 10px;
}

@media screen and (max-width: 768px) {

  header img{
    width: 100%;
  }

  header .box {
    display: flex;
    justify-content: center;
    margin: 0 0 0 2px;
    width: 70%;
    margin-right: 8px;
  }

  header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header .contact {
    width: 100vw;
    height: 40%;
    justify-content: flex-start;
    align-items: stretch;
  }

  header .title {
    display: flex;
    font-size: 13px;
  }

  header a {
    display: flex;
    margin-top: 5px;
    font-size: 10px;
  }
  
  header i {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 10px;
  }

}